Source: flask-restful
Maintainer: Michael Mattice <mmattice@ok7-eleven.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9), python-six, python-aniso8601, python-flask, python-tz
Standards-Version: 3.9.6
Homepage: https://www.github.com/flask-restful/flask-restful/

Package: python-flask-restful
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Simple framework for creating REST APIs

